<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>ComShophyRe 🛒</ion-title>
    <ion-title>Iniciar sesion</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  
  

  <ion-item>
    <ion-label>Correo electronico</ion-label>
    <ion-input type = "email"> </ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label>Contraseña</ion-label>
    <ion-input type = "password"> </ion-input>
  </ion-item>

  <ion-button class="ion-padding" color="primary">Ingresar</ion-button>
  <ion-button class="ion-padding" color="light">Registrar</ion-button>


</ion-content>
