/* styles.scss o el archivo de estilos correspondiente */
.spacer {
    height: 80px; /* Ajusta este valor según tus necesidades */
  }


/* styles.scss o el archivo de estilos correspondiente */
.custom-width {
    width: 200px; /* Ajusta este valor según tus necesidades */
    /* Si quieres centrar el botón en el contenedor */
    display: block;
    margin: 0 auto;
  }
  

  /* styles.scss o el archivo de estilos correspondiente */
.custom-width {
    width: 200px; /* Ajusta este valor según tus necesidades */
    /* Si quieres centrar el botón en el contenedor */
    display: block;
    margin: 0 auto;
  }
  